/* Centre la page */
.pagecss {
  width:960px;
  margin:auto;
  }

.pagecss .contenu .formulaire {

}

/* Cadre des articles */
.pagecss .contenu .cadre{
 border-width:1px;
 border-style:solid;
 border-color:black;
 margin:10px;
 }

/* Met l'image a 100% */
img {
  width: 100%;
}

/* Alligne le texte en justify */
.col-md-8 p {
  text-align: justify;
}

/* Centre le text */
.col-md-2 p {
  text-align: center;
  margin-top: 50%; /* poussé de la moitié de hauteur de viewport */ ""
}

/* Effet du bouton */
.myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:0px 0px 0px #7cacde;
    text-align: center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
